services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    environment:
      POSTGRES_DB: one_box
      POSTGRES_USER: one_box
      POSTGRES_PASSWORD: one_box_123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 1G

  minio:
    image: quay.io/minio/minio:RELEASE.2025-04-22T22-12-26Z
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: one_box
      MINIO_ROOT_PASSWORD: one_box_123
      MINIO_PROMETHEUS_AUTH_TYPE: public
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 2G

  onebox:
    image: devnovus/one-box:1.0
    container_name: onebox
    ports:
      - "8080:8080"
    storage_opt:
      size: 30G
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 1G
    depends_on:
      - postgres
      - minio

volumes:
  postgres_data:
  minio_data: