server:
  port: 8080
  servlet:
    context-path: /api/v1
    encoding:
      charset: utf-8
      enabled: true

spring:
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 100MB
  application:
    name: oneBox
  datasource:
    url: jdbc:postgresql://localhost:5432/one_box
    driver-class-name: org.postgresql.Driver
    username: one_box
    password: one_box_123
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    show-sql: true
  output:
    ansi:
      enabled: ALWAYS

app:
  max-quota: 5GB

logging:
  level:
    org.springframework: INFO
    org.hibernate: WARN
    org.springframework.security.web.FilterChainProxy: DEBUG
    org.springframework.security: TRACE